h1 {
  text-align: center;
}

.storage {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: green;
  border: 1px solid black;
  margin-right: 145px;
  padding: 20px 2px 20px 2px;
  width: 370px;}

  

  


.substorage {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
background-color: rgb(111, 141, 229);
  border: 1px solid black;
  padding: 0.25rem 0;
  width: 50%;

}
.substorages {
  display: flex;
}